<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @tile.id %>
</p>

<p>
  <strong>Idinspire:</strong>
  <%= @tile.idINSPIRE %>
</p>

<p>
  <strong>Idk:</strong>
  <%= @tile.idk %>
</p>

<p>
  <strong>Ind c:</strong>
  <%= @tile.ind_c %>
</p>

<p>
  <strong>Nbcar:</strong>
  <%= @tile.nbcar %>
</p>

<%= link_to 'Edit', edit_tile_path(@tile) %> |
<%= link_to 'Back', tiles_path %>
