<%= simple_form_for(@tile_group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :idk %>
    <%= f.input :men %>
    <%= f.input :men_surf %>
    <%= f.input :men_occ5 %>
    <%= f.input :men_coll %>
    <%= f.input :men_5ind %>
    <%= f.input :men_1ind %>
    <%= f.input :i_1ind %>
    <%= f.input :men_prop %>
    <%= f.input :i_prop %>
    <%= f.input :men_basr %>
    <%= f.input :i_basr %>
    <%= f.input :ind_r %>
    <%= f.input :ind_age1 %>
    <%= f.input :ind_age2 %>
    <%= f.input :ind_age3 %>
    <%= f.input :ind_age4 %>
    <%= f.input :ind_age5 %>
    <%= f.input :ind_age6 %>
    <%= f.input :ind_age7 %>
    <%= f.input :i_age7 %>
    <%= f.input :ind_age8 %>
    <%= f.input :i_age8 %>
    <%= f.input :ind_srf %>
    <%= f.input :nbcar %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
