<p id="notice"><%= notice %></p>

<p>
  <strong>Idk:</strong>
  <%= @tile_group.idk %>
</p>

<p>
  <strong>Men:</strong>
  <%= @tile_group.men %>
</p>

<p>
  <strong>Men surf:</strong>
  <%= @tile_group.men_surf %>
</p>

<p>
  <strong>Men occ5:</strong>
  <%= @tile_group.men_occ5 %>
</p>

<p>
  <strong>Men coll:</strong>
  <%= @tile_group.men_coll %>
</p>

<p>
  <strong>Men 5ind:</strong>
  <%= @tile_group.men_5ind %>
</p>

<p>
  <strong>Men 1ind:</strong>
  <%= @tile_group.men_1ind %>
</p>

<p>
  <strong>I 1ind:</strong>
  <%= @tile_group.i_1ind %>
</p>

<p>
  <strong>Men prop:</strong>
  <%= @tile_group.men_prop %>
</p>

<p>
  <strong>I prop:</strong>
  <%= @tile_group.i_prop %>
</p>

<p>
  <strong>Men basr:</strong>
  <%= @tile_group.men_basr %>
</p>

<p>
  <strong>I basr:</strong>
  <%= @tile_group.i_basr %>
</p>

<p>
  <strong>Ind r:</strong>
  <%= @tile_group.ind_r %>
</p>

<p>
  <strong>Ind age1:</strong>
  <%= @tile_group.ind_age1 %>
</p>

<p>
  <strong>Ind age2:</strong>
  <%= @tile_group.ind_age2 %>
</p>

<p>
  <strong>Ind age3:</strong>
  <%= @tile_group.ind_age3 %>
</p>

<p>
  <strong>Ind age4:</strong>
  <%= @tile_group.ind_age4 %>
</p>

<p>
  <strong>Ind age5:</strong>
  <%= @tile_group.ind_age5 %>
</p>

<p>
  <strong>Ind age6:</strong>
  <%= @tile_group.ind_age6 %>
</p>

<p>
  <strong>Ind age7:</strong>
  <%= @tile_group.ind_age7 %>
</p>

<p>
  <strong>I age7:</strong>
  <%= @tile_group.i_age7 %>
</p>

<p>
  <strong>Ind age8:</strong>
  <%= @tile_group.ind_age8 %>
</p>

<p>
  <strong>I age8:</strong>
  <%= @tile_group.i_age8 %>
</p>

<p>
  <strong>Ind srf:</strong>
  <%= @tile_group.ind_srf %>
</p>

<p>
  <strong>Nbcar:</strong>
  <%= @tile_group.nbcar %>
</p>

<%= link_to 'Edit', edit_tile_group_path(@tile_group) %> |
<%= link_to 'Back', tile_groups_path %>
